<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header>
    {% if user.is_authenticated %}
        <p>Привет, {{ user.username }} 
       <form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit" class="text-red-600 hover:underline">Выйти</button>
        </form>

    {% else %}
        <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
</header>

<hr>
<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  {% block content %}{% endblock %}
</div>
</body>
</html>